body {
  font-family: $font-primary;
  margin: 0;
  padding: 0;
  background-color: $bg-color;
}

h1, h2 {
  font-family: $font-secondary;
  font-style: italic;
  text-align: center;
}

p,
.lista-serivicios,
.lista-productos,
.navbar-nav.ms-auto {
  font-family: $font-primary;
  list-style: none;
}

.logo-img {
  height: 300px;
  width: auto;
  @include respond-to(phone) {
    height: 10rem;
  }
}
