body {
  font-family: $font-main;
  margin: 0;
  padding: 0;
  background-color: $color-fondo !important;
}

h2 {
  font-family: $font-titular;
  font-style: italic;
}

p,
.lista-serivicios,
.lista-productos,
.navbar-nav.ms-auto {
  font-family: $font-main;
  list-style: none;
}
