$font-main: 'Red Hat Display', sans-serif;
$font-titular: 'Playfair Display', serif;

$color-fondo: #eaecee;
$color-secundario: #f0f0f0;
$color-footer: #424949;
$color-footer-texto: #f0f0f0;
$color-borde: #000000;
