body {
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaecee !important;

}

.logo-img {
    height: 300px;
    width: auto;
}

.navbar {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border-bottom: none !important;
    
}

#navbarNav {
    text-align: center;
    font-size: large;
    
}


.intro {
    padding: 4rem;
    width: 90%;
    margin: 20px auto;
    background-color: #f0f0f0;
}

.video-parrafo {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 400px;
}

.titulo-quienes-somos {
    font-display: swap;
}

.video-quienes-somos,
.parrafo-quienes-somos {
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
}

.navbar-nav ms-auto {
    font-family: 'Red Hat Display', sans-serif; 
}

h2 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

p {
    font-family: 'Red Hat Display', sans-serif;
}
    
.lista-serivicios, lista-productos {
    font-family: 'Red Hat Display', sans-serif;
    list-style: none;

}

.video-quienes-somos video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 12px;
}


.parrafo-quienes-somos {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.parrafo-quienes-somos h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.parrafo-quienes-somos p {
    font-size: 1.25rem;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .logo-img {
        height: 10rem
    }

    .intro {
        width: 90%;
        padding: 2rem;
    }

    .video-parrafo {
        flex-direction: column;

    }

    .video-quienes-somos,
    .parrafo-quienes-somos {
        width: 100%;
        padding: 1px;
    }

    .video-quienes-somos video {
        height: auto;
    }

    .intro-titulo, .intro-parrafo {
        align-items: center;
    }

    .footer-info {
        grid-template-columns: 1fr;
    }

    .marcas {
        flex-direction: column;
        align-items: center;
    }
}

.intro-titulo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.intro-parrafo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.peluqueria-inicio {
    padding: 6rem;
    margin: 20px auto;
    width: 90%;
    background-color: #f0f0f0;
    list-style: none;
    border: none;
}

.manos-inicio {
    padding: 6rem;
    margin: 20px auto;
    width: 90%;
    background-color: #f0f0f0;
    list-style: none;
    border: none;
}

.maquillaje-inicio {
    padding: 6rem;
    margin: 20px auto;
    width: 90%;
    background-color: #f0f0f0;
    list-style: none;
    border: none;
}

.lookbook {
    padding: 6rem;
    margin: 3rem;
    background-color: #f0f0f0;
    list-style: none;
    border: none;
}

footer {
    background-color: #424949;
    color: #f0f0f0;
}

.footer-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 2rem;
    margin: 0 auto;
    width: 90%;
    justify-items: center;
}

.marcas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 0 auto;
    width: 90%;
    gap: 60px;
}

.social-media-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.intro-servicios, .intro-productos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    margin: 5px auto;
    width: 90%;
    background-color: #f0f0f0;
    text-align: center;
}

.peluqueria-servicios, .manos-servicios, .maquillaje-servicios, .kerastase-productos, .schwarzkopf-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin: 10px auto;
    width: 90%;
    background-color: #f0f0f0;
}

.footer-info-servicios, .footer-info-productos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 2rem;
    margin: 0 auto;
    width: 90%;
    justify-items: center;
    gap: 20px;
}

.marcas-servicios, .marcas-productos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem; 
    flex-direction: row; 
    flex-wrap: wrap; 
}

.marcas-servicios img, .marcas-productos img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .marcas-servicios, .marcas-productos {
        flex-direction: column; 
        align-items: center; 
    }
}





    



